Subject: A custom travel package for ${DESTINATION}

Dear ${CONTACT_NAME},

We have designed a new package for you in ${DESTINATION}.

The package includes ${DAYS} days at ${HOTEL}, costing ${COST}. ${DESTINATION} is famous for ${DESTINATION_FAMOUS_FOR}.

The three top highlights are ${TOURISM_HIGHLIGHTS}.

In ${DESTINATION}, you can enjoy ${ACTIVITIES_AVAILABLE}.

We hope you will consider this package.

Best,

Your favorite travel agent
